@model  List<web.BloodDonerManagement.Models.DoctorsViewModel>
    <h3>Lista e Doktoreve</h3>
<button type="button" class="btn btn-primary btn-addDoctor">
    <i class="glyphicon glyphicon-plus"></i>
    Shto doktorin
</button>
<br /><br />
<table class="table table-responsive table-striped">
    <th>
        Emri
    </th>
    <th>
        Data e lindjes
    </th>
    <th>Adresa</th>
    <th>Telefoni</th>
    <th>Email</th>
    <th>Gjinia</th>
    <th></th>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Doctor</td>
            <td>@item.BirthDate.ToShortDateString()</td>
            <td>@item.Address, @item.City</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Email</td>
            <td>@item.DoctorGender</td>
            <td>
                <div class="text-right">
                    <button type="button" class="btn btn-default btn-edit" data-id="@item.Id" 
                            data-firstname="@item.FirstName" 
                            data-lastname="@item.LastName"
                            data-birthdate="@item.BirthDate.ToShortDateString()"
                            data-address="@item.Address"
                            data-city="@item.City"
                            data-phonenumber="@item.PhoneNumber"
                            data-email="@item.Email"
                            data-gender="@item.DoctorGender.ToString()">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button> 

                    <form action="/Doctors/delete/@item.Id" method="post" id="@("formDelete"+item.Id)"></form>
                    <button type="button" class="btn btn-default  btn-delete"  data-id="@item.Id">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button> 
                </div>
            </td>
        </tr>
    }
</table>
<div class="modal fade" tabindex="-1" role="dialog" id="modalDoctor">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> </h4>
            </div>
            <div class="modal-body">
                <form action="/Doctors/addOrUpdate" method="post" id="formDoctor">
                    <input type="hidden" name="Id" id="Id" value="0" />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Emri</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="FirstName" id="FirstName" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Mbiemri</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="LastName" id="LastName" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Data e lindjes</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="BirthDate" id="BirthDate" class="form-control" placeholder="yyyy-mm-dd" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Adress</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="Address" id="Address" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Qyteti</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="City" id="City" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Email</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="Email" id="Email" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Numri i telefoni</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Gjinia</label>
                        </div>
                        <div class="col-sm-8">
                            <select class="form-control" name="Gender" id="Gender">
                                <option value="">...</option>
                                @foreach (var item in ViewBag.gender)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Mbyll</button>
                <button type="button" class="btn btn-primary btn-save">Ruaj</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {

        $('#BirthDate').datetimepicker({
            format: 'YYYY-MM-DD',
            showTodayButton:true
        });

        $('.btn-addDoctor').click(function () {
            $('.modal-title').html('Doktori i ri');
            $('#modalDoctor').modal('show');
        });

        $('.btn-save').click(function () {
            $('.alert-success').show()
            $('#formDoctor').submit();
        });

        $('.btn-edit').click(function () {
            var item = $(this);
            $('.modal-title').html('Edito Doktorin: ' + item.data('firstname'));

            $('#Id').val(item.data('id'));
            $('#FirstName').val(item.data('firstname'));
            $('#LastName').val(item.data('lastname'));
            $('#BirthDate').val(item.data('birthdate'));
            $('#PhoneNumber').val(item.data('phonenumber'));
            $('#Address').val(item.data('address'));
            $('#City').val(item.data('city'));
            $('#Email').val(item.data('email'));
            $('#Gender').val(item.data('gender'));
            $('#modalDoctor').modal('show');
        });

        $('.btn-delete').click(function () {
            if (confirm('Deshironi te fshini shenimin?') == 1) {

                $('#formDelete' + $(this).data('id')).submit();
            }
        });
    });
</script>