@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistemi për menaxhimin e qendrës së transfuzionit të gjakut</h1>
    <p class="lead">Sistemi mundëson nxjerrjen e të dhënave në lidhje me dhuruesit e gjakut, sasinë e gjakut të dhuruar dhe menaxhimin e informatave në lidhje me dhuruesit</p>
 @if (User.Identity.IsAuthenticated)
 {
       <p><a href='@Url.Action("Index", "BloodStock")' class="btn btn-primary btn-lg">Dhuro gjak</a></p>
 }
</div>
@*@model DotNet.Highcharts.Highcharts

@(Model)*@

 <div id="container" style="min-width: 350px; height: 350px; max-width: 600px; margin: 0 auto"></div>
<script type="text/javascript">

        $(function () {
            $.ajax({
                url: '/Home/StockReports',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: false,
                processData: false,
                cache: false,
                delay: 15,
                success: function (data) {
                    var series = new Array();
                    for (var i in data) {
                        var serie = new Array(data[i].BloodType, data[i].BloodQuantity);
                        series.push(serie);
                    }
                    //alert(series);
                    DrawPieChart(series);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        function DrawPieChart(series) {
            chart = new Highcharts.Chart({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: true,
                    renderTo: 'container'
                },
                title: {
                    text: 'Raporti i stokut te gjakut'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y} ml</b>'
                },
                credits: {
                    enabled: false
                },
                series: [{
                    type: 'pie',
                    name: 'Sasia e gjakut',
                    data: series
                }]
            });
        }
</script> 

<div class="row">
    <div class="col-md-4">
        <h2>Transfuzioni</h2>
        <p>
           Shërbimi për menaxhimin e transfuzionit të gjakut në kohë reale
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "BloodStock")">Regjistro &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Regjistrimi i Pacientave</h2>
        <p>BDMS mundëson menaxhimin e gjakut në qendrën për transfuzionin e gjakut si dhe raportimin e gjendjesa aktuale</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Patient")">Regjistro &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>&nbsp;Raporti dhurues-marres</h2>
        <p><img src="@Url.Content("~/Content/Images/bloodRelation.jpg")" class="img-responsive" alt="Responsive image" />
</p>
    </div>
</div>

