@model  List<web.BloodDonerManagement.Models.PatientsViewModel>
    @if(Session["alertAddNew"] != null && Session["alertAddNew"] == "True")
    {
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Ju sapo keni shtuar nje shenim te ri.
</div>
       @(Session["alertAddNew"] = null)
    }

@if (Session["alertEdit"] != null && Session["alertEdit"] == "True")
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Ju edituar shenimin me sukses.
    </div>
    @(Session["alertEdit"] = null)
}
<h3> Lista e Pacientave</h3>
<button  type="button" class="btn btn-primary btn-addPatient">
    <i class="glyphicon glyphicon-plus" ></i>
    Shto Pacientin</button>
<br/><br/>
<table class="table table-responsive table-striped">
    <th>
        Emri
    </th>
    <th>
        Data e lindjes
    </th>
    <th>
        Grupi i gjakut
    </th>
    <th>Adresa</th>
    <th>Telefoni</th>
    <th>Email</th>
    <th>Gjinia</th>
    <th></th>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Patient
            </td>
            <td>
                @item.BirthDate.ToShortDateString()
            </td>
            <td>
                @item.BloodType
            </td>
            <td>@item.Address, @item.City</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Email</td>
            <td>@item.PatientGender</td>
            <td>
                <div class="text-right">
                    <button type="button" class="btn btn-default btn-edit" data-id="@item.Id" data-name="@item.Name" 
                            data-lastname="@item.LastName"
                            data-birthdate="@item.BirthDate.ToShortDateString()"
                            data-bloodtype="@item.BloodType.ToString()"
                            data-address="@item.Address"
                            data-city="@item.City"
                            data-phonenumber="@item.PhoneNumber"
                            data-email="@item.Email"
                            data-gender="@item.PatientGender.ToString()">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button> 

                    <form action="/Patient/delete/@item.Id" method="post" id="@("formDelete"+item.Id)"></form>
                    <button type="button" class="btn btn-default  btn-delete"  data-id="@item.Id">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button> 
                </div>
            </td>
        </tr>
    }

</table>

<div class="modal fade" tabindex="-1" role="dialog" id="modalPatient">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> </h4>
            </div>
            <div class="modal-body">
                <form action="/Patient/addOrUpdate" method="post" id="formPatient">
                    <input type="hidden" name="Id" id="Id" value="0" />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Emri</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="Name" id="Name" class="form-control" />
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Mbiemri</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="LastName" id="LastName" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Data e lindjes</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="BirthDate" id="BirthDate" class="form-control" placeholder="yyyy-mm-dd" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Grupi i gjakut</label>
                        </div>
                        <div class="col-sm-8">
                            <select class="form-control" name="BloodType" id="BloodType">
                                <option value="">...</option>
                                @foreach (var item in ViewBag.bloodtype)
                            {
                                    <option value="@item">@item</option>
                            }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Adress</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="Address" id="Address" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Qyteti</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="City" id="City" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Email</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="Email" id="Email" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Numri i telefoni</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Gjinia</label>
                        </div>
                        <div class="col-sm-8">
                            <select class="form-control" name="Gender" id="Gender">
                                <option value="">...</option>
                                @foreach (var item in ViewBag.gender)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Mbyll</button>
                <button type="button" class="btn btn-primary btn-save">Ruaj</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(document).ready(function () {

        $('#BirthDate').datetimepicker({
            format: 'YYYY-MM-DD',
            showTodayButton:true
        });

        $('.btn-addPatient').click(function () {
            $('.modal-title').html('Pacient i ri');
            $('#modalPatient').modal('show');
        });

        $('.btn-save').click(function () {
            $('.alert-success').show()
            $('#formPatient').submit();
        });

        $('.btn-edit').click(function () {
            var item = $(this);
            $('.modal-title').html('Edito pacientin ' + item.data('name'));
           
            $('#Id').val(item.data('id'));
            $('#Name').val(item.data('name'));
            $('#LastName').val(item.data('lastname'));
            $('#BirthDate').val(item.data('birthdate'));
            $('#BloodType').val(item.data('bloodtype'));
            $('#PhoneNumber').val(item.data('phonenumber'));
            $('#Address').val(item.data('address'));
            $('#City').val(item.data('city'));
            $('#Email').val(item.data('email'));
            $('#Gender').val(item.data('gender'));
            $('#modalPatient').modal('show');
        });

        $('.btn-delete').click(function () {
            if (confirm('Deshironi te fshini shenimin?') == 1) {

                $('#formDelete' + $(this).data('id')).submit();
            }
        });
    });
</script>